# Python
__pycache__/
*.pyc

# Environment
.env
venv/
.venv/

# ChromaDB
vector_db/
backend/vector_db/

# Uploaded PDFs
uploads/
backend/uploads/

# Frontend
frontend/node_modules/
dist/

# VS Code
.vscode/

# OS
.DS_Store

# Generated Reports
generated_reports/
backend/generated_reports/


backend/__pycache__/
frontend/node_modules/